<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Add</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <link rel="stylesheet" href="app/Css/custom.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Products Add</a>
            <div class="d-flex">
                <button type="button" id="submit-btn" class="btn btn-outline-light mx-3">Save</button>
                <a href="/"><button type="button" class="btn btn-outline-light mx-3">Cancel</button></a>
            </div>
        </div>
    </nav>
    <br>

    <form method="post" action="/add-product" id="product_form">
        <div class="row g-3 align-items-center mx-5 my-3">
            <div class="col-auto label">
                <label for="sku" class="col-form-label">SKU:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="sku" name="sku" class="form-control required">
            </div>
        </div>

        <div class="row g-3 align-items-center mx-5 my-3">
            <div class="col-auto label">
                <label for="name" class="col-form-label">Name:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="name" name="name" class="form-control required">
            </div>
        </div>

        <div class="row g-3 align-items-center mx-5 my-3">
            <div class="col-auto label">
                <label for="price" class="col-form-label">Price ($):</label>
            </div>
            <div class="col-auto">
                <input type="text" id="price" name="price" class="form-control required">
            </div>
        </div>

        <select class="form-select w-25 m-5" name="type" id="productType">
            <option value="default" selected>Select Product Type</option>
            <option value="DVD">DVD</option>
            <option value="Book">Book</option>
            <option value="Furniture">Furniture</option>
        </select>

        <div class="attributeFields" id="DVD">
            <p class="text-muted mx-5">
                Please, provide disc size in MB.
            </p>
            <div class="row g-3 align-items-center mx-5 my-3">
                <div class="col-auto label">
                    <label for="size" class="col-form-label">Size (MB):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="size" name="size" class="form-control DVD">
                </div>
            </div>
        </div>

        <div class="attributeFields" id="Book">
            <p class="text-muted mx-5">
                Please, provide weight in KG.
            </p>
            <div class="row g-3 align-items-center mx-5 my-3">
                <div class="col-auto label">
                    <label for="weight" class="col-form-label">Weight (KG):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="weight" name="weight" class="form-control Book">
                </div>
            </div>
        </div>

        <div class="attributeFields" id="Furniture">
            <p class="text-muted mx-5">
                Please, provide furniture dimensions in HxWxL format.
            </p>
            <div class="row g-3 align-items-center mx-5 my-3">
                <div class="col-auto label">
                    <label for="height" class="col-form-label">Height (CM):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="height" name="dimensions[]" class="form-control Furniture">
                </div>
            </div>

            <div class="row g-3 align-items-center mx-5 my-3">
                <div class="col-auto label">
                    <label for="width" class="col-form-label">Width (CM):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="width" name="dimensions[]" class="form-control Furniture">
                </div>
            </div>

            <div class="row g-3 align-items-center mx-5 my-3">
                <div class="col-auto label">
                    <label for="length" class="col-form-label">Length (CM):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="length" name="dimensions[]" class="form-control Furniture">
                </div>
            </div>
        </div>

    </form>

<script type="text/javascript">
    document.querySelector("#productType").addEventListener("change", function ()
    {
        let divs = document.getElementsByClassName("attributeFields");

        for (let i = 0; i < divs.length; i++)
        {
            divs[i].style.display = "none";
        }

        let productType = document.getElementById("productType");

        document.getElementById(productType.value).style.display = "block";
    });

    document.querySelector("#submit-btn").addEventListener("click", function ()
    {

        if (checkType() && checkEmpty() && checkDataType())
        {
            document.getElementById('product_form').submit();
        }
    });

    function checkType()
    {
        if (document.getElementById("productType").value === "default")
        {
            alert("Select product type");
            return false;
        }

        return true;
    }

    function checkEmpty()
    {
        let requiredInputs = document.getElementsByClassName("required");

        for (let k = 0; k < requiredInputs.length; k++)
        {
            if (requiredInputs[k].value === "")
            {
                alert("Please, submit required data");
                return false;
            }
        }

        let typeToCheck = document.getElementById("productType").value;

        let inputs = document.getElementsByClassName(typeToCheck);

        for (let i = 0; i < inputs.length; i++)
        {
            if (inputs[i].value === "")
            {
                alert("Please, submit required data");
                return false;
            }
        }

        return true;
    }

    function checkDataType()
    {
        if (isNaN(document.getElementById("price").value) === true)
        {
            alert("Please, provide the data of indicated type");
            return false;
        }

        let typeToCheck = document.getElementById("productType").value;

        let inputs = document.getElementsByClassName(typeToCheck);

        for (let i = 0; i < inputs.length; i++)
        {
            if (isNaN(inputs[i].value) === true)
            {
                alert("Please, provide the data of indicated type");
                return false;
            }
        }

        return true;
    }
</script>

</body>
</html>